.side-drawer {
  position: sticky;
  min-width: 250px;
  /* max-width: 70%; */
  height: 100%;
  left: 0;
  top: 0;
  padding: 32px 10px;
  overflow-y: auto;
  box-shadow: 0px 8px 10px -5px rgb(0 0 0 / 20%), 0px 16px 24px 2px rgb(0 0 0 / 14%), 0px 6px 30px 5px rgb(0 0 0 / 12%);

  background-color: gray;

}

.side-drawer > h2 {
  text-shadow: 0 0 3px black;
  color: #CC8F8F;
}

.side-drawer-item {
  display: block;
  padding: 12px 28px;
  border-radius: 8px;
}

.side-drawer-item:hover {
  background-color: #8C8C8C;
  font-size: 1.2em;
  color: #CC8F8F;
}
