.avatar {
  height: 90px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;

  max-width:11%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.avatar:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}