.App {
  background-color: #474140;
  min-height: 100vh;
  display: flex;
  color: white;

}
/* #303030 */
/* #282c34 */
/* #474140 */


/* #303030 |  #474140  */
/* #303030 |  #474140  */
/* #303030 |  #474140  */
/* #303030 |  #474140  */